<div>Parameters</div>
<div *ngIf="parameters && parameters.length; else noParameters">
    <mat-table ngIfThen mat-table [dataSource]="parameters" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> 
                <div>{{element.name}} <span *ngIf="element.required">* required</span></div>
                <div>
                    {{element.schema.type}}
                    <span *ngIf="element.schema.format">(${{element.schema.format}})</span>
                    <span *ngIf="element.schema.type === 'array'">[{{element.schema.items.type}}]</span>
                </div>
                <div>({{element.in}})</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> 
                <div>{{element.description || element.name}}</div>
                <div *ngIf="element.schema.items && element.schema.items.enum">Available values: {{element.schema.items.enum.join(', ')}}</div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</div>
<ng-template #noParameters>No parameters</ng-template>
