<div>
    <h2 class="d-inline-block">{{info.title}}</h2>&nbsp;&nbsp;<h4 class="d-inline-block">{{info.version}}</h4>
</div>

<div *ngIf="info.description" [innerHTML]="info.description" class="mt-3"></div> <!-- TODO: Handle link description -->

<div class="mt-2">
    <div *ngIf="info.termsOfService" class="mt-1">
        <a [href]="info.termsOfService" target="_blank">Terms of Service</a>
    </div>
    <div *ngIf="info.contact" class="mt-1">
        <a [href]="getContactHref()" target="_blank">{{info.contact.name || 'Contact'}}</a>
    </div>
    <div *ngIf="info.license" class="mt-1">
        <a [href]="info.license.url" target="_blank">{{info.license.name || 'License'}}</a>
    </div>
</div>
