<div *ngIf="document" class="container my-5">
  <app-info [info]="document.info"></app-info>

  <div *ngIf="document.tags" class="mt-5">
      <app-tag 
        *ngFor="let tag of document.tags" 
        [tag]="tag"
        [paths]="getPathsByTag(tag.name)"></app-tag>
  </div>
  
  <div *ngIf="document.components && document.components.schemas" class="mt-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              <b>Schemas</b>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let schema of document.components.schemas | keyvalue" class="my-3">
          <app-schema [schema]="schema.value" [name]="schema.key" [expanded]="false"></app-schema>
      </div>
    </mat-expansion-panel>
  </div>
</div>
